<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Meducation Dashboard</title>
    <meta name="description" content="Meducation Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="//use.typekit.net/zry5tcv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<nav>
    <header>
        <h1 class="heading">meducation</h1>
        <p class="sub-heading">Stats Dashboard</p>
    </header>
    <section>
        <h1 class="nav-menu-heading">Overview</h1>
    </section>
    <section class="active">
        <h1 class="nav-menu-heading">Content</h1>
        <ul>
            <li>Types</li>
            <li>Products</li>
            <li>Sections</li>
            <li>Goals</li>
        </ul>
    </section>
    <section>
        <h1 class="nav-menu-heading">Development</h1>
    </section>
    <section>
        <h1 class="nav-menu-heading">Community</h1>
    </section>
    <section>
        <h1 class="nav-menu-heading">Revenue</h1>
    </section>
</nav>
<section id="main">
    <header>
        Dashboard <b>/ Overview</b>
    </header>
    <section class="metric-channel">
        <script id="metric-block-template" type="text/x-handlebars-template">
        {{#each metrics}}
            <div class="metric-block {{ this.colour }}">
                <p class="metric-block-number">{{ this.number }}</p>
                <p class="metric-block-text">{{ this.title }}</p>
            </div>
        {{/each}}
        </script>

    </section>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script>
<script>
    var data = {
        metrics: {
            anon: { colour: 'orange', number: '123', title: 'Anonymous Visitors' },
            normal: { colour: 'blue', number: '456', title: 'Normal Visitors' },
            premium: { colour: 'green', number: '789', title: 'Premium Visitors' }
        }
    }
    var source   = $("#metric-block-template").html();
    var template = Handlebars.compile(source);
    $('.metric-channel').html(template(data));

    var socket = io.connect('http://localhost:3000');

        socket.on('metric', function (payload) {
           for(key in payload.metrics) {
               data.metrics[key].number = payload.metrics[key];
            }
            $('.metric-channel').html(template(data));
        });
</script>
</body>
</html>
