<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Meducation Dashboard</title>
    <meta name="description" content="Meducation Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="//use.typekit.net/zry5tcv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="stylesheets/fontello.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div class="fader"></div>
    <header class="heading">
        <div class="pure-u-1-8">
            <h1>Dashboard</h1>
        </div>
        <div class="pure-u-3-4">
            <ul>
                <li><a href="#"><i class="fa fa-eye"></i>Overview</a></li>
                <li><a href="#"><i class="fa fa-files-o"></i>Content</a></li>
                <li><a href="#"><i class="fa fa-code"></i>Development</a></li>
                <li><a href="#"><i class="fa fa-group"></i>Community</a></li>
                <li><a href="#"><i class="fa fa-dollar"></i>Revenue</a></li>
            </ul>
        </div>
        
        <div class="pure-u-1-8">
            <p class="version">Version ?</p>
            <script id="version-template" type="text/x-handlebars-template">
                <p class="version">Version {{ this.version }}</p>
            </script>
        </div>
    </header>

    <div class="pure-g">
        <div class="metric-blocks full-width">
            <script id="metric-block-template" type="text/x-handlebars-template">
                {{#each metrics}}
                <div class="metric-block pure-u-1-3 {{ this.colour }}">
                    <p class="metric-block-number">{{ this.number }}</p>

                    <p class="metric-block-text">{{ this.title }}</p>
                </div>
                {{/each}}
            </script>
        </div>

        <div class="test-tubes full-width">
            <script id="test-tube-template" type="text/x-handlebars-template">
                {{#each tubes}}
                <div class="test-tube pure-u-1-4">
                    <p class="test-tube-number">{{ this.number }}</p>
                    <p class="test-tube-text">Unique</p>
                    <p class="test-tube-text">{{ this.title }}</p>
                </div>
                {{/each}}
            </script>
        </div>
        <div class="pure-u-1">
            <h2 class="alarms-header">Alarms</h2>
        </div>
        <div class="alarms full-width">
            <script id="alarms-template" type="text/x-handlebars-template">
                {{#each alarms }}
                <div class="alarm pure-u-1-12">
                    <p>{{ this }}</p>
                </div>
                {{/each}}
            </script>
        </div>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script>
<script src="/javascripts/plasma-refresher.js"></script>
<script src="/javascripts/metric-updater.js"></script>
<script src="/javascripts/alarm-poller.js"></script>

</body>
</html>
