html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    color: #2d2d29;
    background-color: #f7f7f7;
    font-weight: 300;
}

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: "museo-sans", Georgia, Times, "Times New Roman", serif;
}

h1 {
    margin: 0;
}

.fa {
    padding-right: 0.75em;
}

.float-right {
    float: right;
}

.heading {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    color: #fff;
    padding: 0 2em;
    background: #1f2326; /* Old browsers */
}

.heading h1 {
    -webkit-box-flex: 5;
    -moz-box-flex: 5;
    -webkit-flex: 5;
    -ms-flex: 5;
    flex: 5;
    font-size: 2.4rem;
    font-weight: 300;
}

.heading ul {
    list-style-type: none;
    display: inline;
}

.heading li {
    display: inline;
}

.heading li a:hover {
    background-color: #2d3337;
}

.version {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.6rem;
}

.sub-heading {
    font-size: 1.6rem;
    font-weight: 300;
    padding: 32px 0 32px 48px;
}

.metric-block {
    text-align: center;
    color: #fff;
}

.metric-block-number {
    font-size: 6rem;
    margin-top: 30px;
    margin-bottom: 12px;
}

.metric-block-text {
    font-size: 2.4rem;
    margin-top: 10px;
    padding-bottom: 18px;
}

.test-tube {
    text-align: center;
}

.test-tube-number {
    margin-bottom: 12px;
    font-size: 6rem;
}

.test-tube-text {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2.4rem;
}

.full-width {
    width: 100%;
}

.orange {
    background-color: #f26522;
}

.blue {
    background-color: #2d507c;
}

.green {
    background-color: #66b036;
}

.slash {
    color: #bcbcbc;
}
/*
 * Fade the screen to black and back to protect plasma screens
 */
.fade-to-black {
    background-color: #000;
    z-index: 1;
    transition: background-color 1s ease-in-out;
    -webkit-transition: background-color 1s ease-in-out;
    -moz-transition: background-color 1s ease-in-out;
}

.fade-back {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
}

.fader {
    position: fixed;
    width: 100%;
    height: 100%;
}